/* Custom Styles */
body {
  background-color: #f5f5f5;
}
/* Navbar */
.navbar-custom {
  background-color: #130665;
  /* Change background color */
}

.navbar-custom .navbar-brand {
  color: #fff;
  /* Change brand text color */
  font-size: 24px;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 140px;
  /* Increase width */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 10px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  /* Change nav link text color */
  font-size: 15px;
  margin-left: 20px;
  /* Add some spacing between nav links */
}

/* Retrospective Results */
h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 28px;
  color: #130665;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.row {
  margin-top: 30px;
}

.column {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.user-item {
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-name {
  font-size: 10px;
}

#what-went-well .user-item.first {
  border-top: 2px solid rgb(59, 245, 59);
}

#what-went-wrong .user-item.first {
  border-top: 2px solid red;
}

#what-can-be-improved .user-item.first {
  border-top: 2px solid blue;
}
