body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

.navbar-custom {
    background-color: #130665;
  }
  
  .navbar-custom .navbar-brand {
    color: #080808;
    
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    width: 140px;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
  }
  
  

.tab-content {
    margin-top: 30px;
}

.tab-pane {
    padding: 30px;
}

.column {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-item {
    display: flex;
    align-items: center;
}

.add-button {
    background-color:  #4CAF50;
    color: #fff;
    font-size: 19px;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.item-container {
    margin: 10px;
}

textarea {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
    margin-bottom: 10px;
    margin-top: 30px;
    
}

.delete-button {
    color: #dc3545;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color:#130665;
  }