body {
  background-color: #f7f7f7;
}


.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button-container a {
  margin: 10px;
  margin-top: 20px;
}

.button-container button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #130665;
  cursor: pointer;
}

.navbar-custom {
  background-color: #130665;
  /* change background color */
}

.navbar-custom .navbar-brand {
  color: #fff;
  /* change brand text color */
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 120px;
  /* increase width */
  height: auto;
  /* maintain aspect ratio */
  margin-right: 10px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  /* change nav link text color */
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  /* add some spacing between nav links */
}




@media screen and (max-width: 767px) {

  /* Adjust navbar-brand styles for smaller screens */
  .navbar-brand {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* Adjust logo size for smaller screens */
  .logo {
    width: 70px;
    height: 105px;
  }

  /* Adjust button-container styles for smaller screens */
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container button {
    margin-bottom: 20px;
  }
}